*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
:root{
    /* overflow-x: hidden;  */
}
.main{
    width: 100vw;
    height: 750px;
    background-image: url(assets/images/bg.png);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.main .box{
    width: 100vw;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.697);
}
.nav{
    position: absolute;
    top: 0%;
    z-index: 10;
    /* border: 2px solid red; */
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo img{
    width: 9em;
    padding-left: 7.9em;
    filter: grayscale(0.2);
}
.button{
    display: flex;
    gap: 15px;
    padding-right: 8.5em
}
.button select{
    width:8em;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    border-radius: 5px;
}
.button button{
    width:6em;
    height: 32px;
    background-color:rgb(229, 9, 20);
    color: white;
    border: 1px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.content{
    box-sizing: border-box;
    width: 40vw;
    height: 548px;
    /* border: 2px solid red; */
    position: absolute;
    top: 140px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    /* color: white; */
    margin-bottom: 10px;
}
@media only screen and (max-width:800px){
    .main{
        width: 100vw;
        background-position: center center;
        background-size: cover;
    }
    .content{
       left: 250px;
    }
    .mail button{
        width: 12vw;
        font-size: 1em;
    }
    .border{
        width: 100vw;
    }
    .reason .boxes{
        flex-direction: column;
    }
    .mail2 .email button{
        font-size: 1em;
    }
    .movies{
        overflow-x: hidden;
    }
}
@media only screen and (min-width:800px){
    .main{
        width:1200px;
    }
    .main .box{
        width: 1200px;
    }
    .content{
        left:500px
    }
    .nav{
        width: 1200px;
    }
    .border {
        width: 1200px;
    }
    .curvborder{
        width:147vw;

    }
    .border .before{
        width: 1200px;
    }
}
@media only screen and (max-width:450px){
    .main{
        width:1200px
    }
    .main .box{
        width: 1200px;
    }
    .nav{
        justify-content: start;
        width: 1200px;
        gap: 30px;
    }
    .nav .logo img{
        width: 7em;
        padding-left: 5em;

    }
    .nav .logo .button {
       margin-left: 40px;
    }

}
.content .cnt1{
    color: white;
    font-weight: bold;
    font-size: 3.9em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.content>:nth-child(2){
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}
.content>:nth-child(3){
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.mail{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mail input{
    width: 18vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.701);
    border: 1px solid white;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    font-size: 1em;
    color: white;
    
}
button{
    width:12vw ;
    height: 7.9vh;
    background:rgb(229, 9, 20) ;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.border{
    box-sizing: border-box;
    position: relative;
    /* overflow-x: hidden; */
    width: 100vw;
    height: 65px;
    z-index: 20;
    bottom:45px;
}
.border .curvborder{
    box-sizing: border-box;
    /* overflow-x: hidden; */
    width: 100vw;
    height: 65px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
    position: absolute;
    top: 4px;
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.before{
    content: '';
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    z-index: -1;
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;

}
.gap{
 /* border: 2px solid red; */
    width: 100vw;
    height: 8vh;
    background-color: black;
    color: white;
    position: relative;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: end;
}
.gap p{
    /* border: 2px solid red; */
    width: 80vw;
    margin: 0px auto;
    color: white;
    padding: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.newcontent{
    /* border: 2px solid red;  */
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}
.newcontent .select{
    width: 80vw;
    margin: 10px auto;
    display: flex;
    gap: 25px;
    padding-left: 30px;
    
}
.select select{
    width: 6.9em;
    height: 2.7em;
    background: rgb(36, 34, 34);
    color: white;
    padding: 2px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.movies{
    width: 80vw;
    margin: 20px auto;
    display: flex;
    gap: 40px;
}
.movies img{
  height: 35vh;
  border-radius: 5px;
  transform: scaleX(1);
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}
.movies img:hover{
    transform: scale(1.1);
}
.reason{
    width: 80vw;
    margin: 60px auto;
}
.reason p{
    color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.reason .boxes{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.reason .boxes .box{
    /* border: 2px solid red; */
    padding-top: 10px;
    box-sizing: border-box;
    width: 80vw;
    height: 250px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box> :nth-child(1){
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 100%;
    min-height: 8vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-size: 1.3em;
    padding-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px auto;
}
.box> :nth-child(2){
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: rgba(255, 255, 255, 0.7);;
    font-size: 1.em;
    font-weight: 500;
    font-family:  'Poppins', sans-serif;
  
}
.box>:nth-child(3){
    box-sizing: border-box;
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding-right: 10px;
}
.ques{
    width: 80vw;
    margin: 10px auto;
}
.ques p{
    color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.ques .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .box{
    box-sizing: border-box;
    width: 80vw;
    height: 12vh;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.container .box:hover{
    /* cursor: pointer; */
    background-color: rgb(78, 71, 71);;
}
.container .box p{
    padding: 30px;
    font-weight: 500;
    font-size: 1.5em;
}
.box .plus{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    width: 2vw;
    height: 2vw;
    font-size: 3em;
    padding: 10px;
    transform: rotate(0deg);
    transition: transform,1s,ease-in-out,0.3s;
    margin-right: 8px;
}
.box .plus:hover{
    cursor: pointer;
    transform: rotate(360deg);
}
.mail2{
    /* border: 2px solid red; */
    width: 80vw;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mail2 p{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.mail2 .email{
display: flex;
justify-content: center;
gap: 10px;
}
.mail2 .email input{
    width: 35vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.701);
    border: 1px solid white;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    font-size: 1em;
    color: white;
}
.footer{
    /* border: 2px solid red; */
    width: 80vw;
    margin: 10px auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer p{
    margin-top: 65px;
    color: rgb(189, 186, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.footer .container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.footer .container .boxe{
    padding-left: 5px;
    list-style: none;
}
.boxe ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    gap: 15px;
}
li a{
    color: rgb(189, 186, 186);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}
.cnt select{
    margin-top: 50px;
    width: 7em;
    height: 2em;
    background: rgb(36, 34, 34);
    color: white;
    padding: 2px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.net p{
    margin-top: 35px;
}




